---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<!-- HERO -->
	<section class="hero">
		<h1>Hi, I'm Elizabeth!</h1>
		<p>Exploring Cybersecurity & Network Systems | Collaboration Driven | Innovating Through Code</p>

		<div class="hero-links">
		<a href="/projects">View Projects</a>
		<a href="/about">About Me</a>
		</div>
	</section>

	<!-- QUICK INTRO -->
	<section>
		<h2>A Little About Me</h2>
		<p>
		I'm a fourth year Computer Science student passionate about networking, game development, and software & web development
		I enjoy bringing creative ideas to life through code, with a focus on both functionality and user experience.
		</p>
	</section>

	<!-- FEATURED PROJECTS -->
	<section>
		<h2>Featured Projects</h2>

		<div class="grid">
			<div class="card">
				<h3>Sim-ester | E-Commerce Website</h3>
				<p>Sim-ester is a website that was developed for the COSC304 project. It is an online store that sells products depicting simulation-style games based on courses at UBC Okanagan.</p>
			</div>

			<div class="card">
				<h3>Collabium | Task Management App</h3>
				<p>Collabium is a full-stack web application designed to help teams manage tasks efficiently with features like secure user authentication, role-based access, task filtering, and an admin dashboard.</p>
			</div>

			<div class="card">
				<h3>AmazeBike | Unity WebGL Game</h3>
				<p>Built collaboratively with a team of three for our COSC 416 final project, AmazeBike is a Unity-based 3D platformer inspired by Excitebike.</p>
			</div>
		</div>
	</section>

	<!-- TECH STACK -->
	<section>
		<h2>Tech Stack</h2>
		<p>React • Node.js • Express • JavaScript • HTML • CSS</p>
	</section>

	<!-- CONNECT -->
	<section>
		<h2>Let’s Connect</h2>
		<p>
		GitHub | LinkedIn
		</p>
	</section>
</BaseLayout>