---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Projects</h1>

  <section>
    <h2>Featured Projects</h2>
    <div>
      <p>Project 1</p>
      <p>Project 2</p>
    </div>
  </section>

  <section>
    <h2>Other Projects & Coursework</h2>
    <div>
      <p>Course project 1</p>
    </div>
  </section>
</BaseLayout>