---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Portfolio</title>
  </head>
  <body>
    <main>
      <Navbar/>
      <slot />
    </main>
  </body>
</html>